

.card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;  
}


.card {
  width: 24em;
  height: 30em;
  background: #171717;
  transition: 1s ease-in-out;
  clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
}

.card span {
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  font-size: 1.5em;
}

.card .info {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  font-size: 0.85em;
  margin: 1em;
  margin-bottom: 4rem;
}

.react {
  color: #52C1DE;
  animation: rotate_image 5s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotate_image{
	100% {
    	transform: rotate(360deg);
    }
}

.card .img {
  width: 8em;
  height: 8em;
  background-image: url("https://jjalbang.today/files/jjalbox/2020/10/20201012_5f84059c6ac30.gif");
  background-size: cover;
  border-radius: 15px;
  margin: auto;
}

.card .share {
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.card a {
  color: white;
  transition: .4s ease-in-out;
}

.card  .git:hover {
  color: #5B6ABE;
}

.card .discord:hover {
  color: #5662EA;
}

.card .insta:hover {
  color: #D33067;
}

